body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: Helvetica, sans-serif;
}

.header {
  background-color: #5a92e5;
  height: 50px;
  padding-top: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product-list a {
  text-decoration: none;
  color: #686b77;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  padding: 2px 16px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.flex-wrap-buy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/**** specifications ****/

.highlight{
  color: #5a92e5;
}
.position-center{
  text-align: center;
}

.margin-30{
  margin-bottom: 30px;
}
.bold{
  font-weight: bold;
}
/**** buttons ****/

.primary-button{
  background-color: #5a92e5;
  color: white;
  border: none;
  font-weight: bold; 
  padding:15px;
}
.primary-button:hover{
  background-color:#f98b88;
  cursor: pointer; 
}
.primary-button:focus{
  outline:none;
  box-shadow: none;
  }

.width-50 {
  width: 50%;
}

.header-buttons{
    text-align: right;
    margin: 30px 100px;
}

 @media only screen and (max-width: 720px) {
  .header-buttons {
    text-align: center;
  }
} 
.button-inside-cart{
  background-color:#f98b88;
  color: white;
  border: none;
  padding: 15px;
  font-weight: bold;
}

.button-inside-cart:hover{
  background-color:#FFA399;
  cursor: pointer; 
}

.button-inside-cart:focus{
  outline:none;
  box-shadow: none;
  }

.button-change-quantity{
width:auto;
height:25px;
} 
